---
interface Props {
  label?: string;
  w?: number;
  h?: number;
  class?: string;
}

const { label = "foto", h, class: className = "" } = Astro.props;
---

<div
  class={`text-line flex items-center justify-center text-xxs border border-line w-full ${className}`}
  role="img"
  aria-label={label}
  style={{ height: `${h ? `${h}px` : '100%'}` }}
>
  {label}
</div>
